<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SPA Fundamentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
</head>
<body>
    <div id="main">
        <div id="nav">
            <button>Index</button>
            <button>Details</button>
        </div>
        <div id="index">
            <p>This is the index page.</p>
        </div>
        <div id="details">
            <p>This is the details page.</p>
        </div>
    </div>
</body>
</html>